@import  '../../../assets/sass/_variables';

.container-result{
    align-items: center;
    justify-content: center;
    background: $blanco-base;
}

.container-product{
    background: $blanco-base;
}