.container-details{
    padding-top: 16px;
    background:white;
}
.img-product-detail{
    width: 680px;
}

.container-info-product{
    padding-top: 32px;
    width: 21%;
}

.data{
    display: flex;
}

.sold_quantity{
    font-size: 14px;
    padding-bottom: 16px;
}

.title-product{
    font-size: 24px;
    font-weight: 600px;
    padding-bottom: 32px;
}

.price-details{
    font-size: 46px;
    padding-bottom: 32px;
    
}

.container-Shopping-btn{
    padding-right: 32px;

   
}

.shoopping-btn{
    width: 100%;
    background: #3483FA;
    border-color: #3483FA;
}

.description{
    font-size: 16px;
    color: #999999;
    width: 680px;
    text-align: justify;
    padding-top: 32px;
    padding-bottom: 32px;
}

.description-title{
    font-size:28px;
   
}

.description-product{
    padding-left: 32px;
} 

@media (max-width: 750px) {

    .img-product-detail {
        width: 100%;
    }

    .description {
        width: 100%;
        overflow: auto;
        white-space: unset;
        text-overflow: ellipsis;
        height: 200px;
    }

    .description-title{
        font-size: 15px;
    }

    .data{
        display: block; 
    }

    .container-info-product {
        width: 100%;
        text-align: -webkit-center;
    }
   
  }