.container-search{
  display: flex;
  align-items: center;
  justify-content: center;
  //margin-left: 62px;
}
.container {
    max-width: 1000px;
    margin: auto;
  }
  .container > * {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #site-header {
    background-color: #FFE600;
    color: white;
  }
  header#site-header a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  header#site-header a:hover {
    background-color: #FFE600;
  }
  header#site-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  header#site-header a.logo {
    margin: 0px;
  }
  header#site-header  a.logo img {
    display: block;
    margin: 20px;
    height: 35px;
  }

  #srch-term{
      margin-top: 2%;
  }

  @media (max-width: 750px) {
    header#site-header a.logo img {
      margin: 15px;
      height: 25px;
    }
   
  }
  